<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>

<body>
    <div class="container-fluid">
        <div class="card w-100">

            <div class="card body row mt-4">

                <div class="col-md-12">
                    <h2>Typography</h2>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500
                    </p>
                </div>



                <div class="d-flex flex-column">

                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card’s content.</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card’s content.</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card’s content.</p>
                        </div>
                    </div>

                </div>
            </div>




        </div>
    </div>
</body>

</html>
