<div class="container-fluid">
    <div class="row">

        <div class="bg-body">

            <div class="col-md-12">
                <h2>Porfolio</h2>
                <p> Donec ullamcorper nulla non auctor frigilla. Vestibulum id ligula porta felis euismod
                    semper.Praesent commodo cursus magna, vel scelerisque nisl consectetur.Fusce dapibus, tellus ac
                    cursus commodo
                </p>
            </div>

            <div class="row py-3">

                <div class="col-4">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 style="color: #005bc5;">Project Name</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quia
                            possimus architecto dolorem quae consequatur reprehenderit soluta similique at! Alias itaque
                            exercitationem sequi harum. Vero molestiae quis officiis deleniti et.</p>
                    </div>
                </div>

                <div class="col-4">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 style="color: #005bc5;">Project Name</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quia
                            possimus architecto dolorem quae consequatur reprehenderit soluta similique at! Alias itaque
                            exercitationem sequi harum. Vero molestiae quis officiis deleniti et.</p>
                    </div>
                </div>

                <div class="col-4">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 style="color: #005bc5;">Project Name</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quia
                            possimus architecto dolorem quae consequatur reprehenderit soluta similique at! Alias itaque
                            exercitationem sequi harum. Vero molestiae quis officiis deleniti et.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>