<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
</head>
<body>
    <div class="container-fluid">
        <div class="card w-100">

  <div class="row card-body bg-body fw-light">

    <div class="col-md-4">

    <img src=".jpg" class="rounded-circle">

</div>

    <div class="col-md-8 p-5">
    <h2>
        <span class="text-dark">This Second Heading</span>
        <span class="text-muted">Is Pretty Cool Too.</span>
    </h2>

    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
        cuando un impresor (N. del T. persona que se dedica a la imprenta) 
        desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
    </p>
</div>


  </div>
</div>
</div>
</body>
</html>