<div class="position-relative d-inline-block">
    <div>
        <img src="assets/img/bg.jpg" class="w-100" alt="">

    </div>

    <div class="position-absolute top-50 start-50 translate-middle bg-opacity-50 fw-bold bg-white w-100 mt-3">

        <p class="d-inline-block w-100 text-center py-2 m-2 bg-white" style="font-size: 80px; ">
            One Page Wonder
        </p>

        <p class="text-center bg-white" style="font-size: 80px;">
            Will Knock Your Socks Off
        </p>
    </div>

</div>